.logo-image{
    max-width: 40%;
    height: auto;
}

.info-image-index
{
    max-width: 30%;
    height: auto;
    
}

.imageshare
{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 0;
}

.imagesong
{
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.image-avatar
{
    width: 300px;
    height: 400px;
    border-radius: 10%;
}
.center-image
{
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#value {
    font-size: 50px;
}